<div class="ui padded segment current-user-bubble chat-bubble">
  <div class="author-info">
    <%= image_tag message.user.avatar.url(:msg) %>
  </div>
  <div class="chat-message">
    <%= message.body %>
  </div>
</div>
