*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/

# Ignore all logfiles and tempfiles.
  /log/*
  /tmp
  /tmp/cache/assets
  .DS_Store

# Used by dotenv library to load environment variables.
  .env
