<h2>test</h2>
<% user_convos = (Conversation.where(guest_id: @user.id) + Conversation.where(host_id: @user.id) %>
<% @user.conversations.each do |convo| %>
<div class="conversations-list">
  <div class="conversation">
    <%= link_to convo.guest.email, conversations_show_path(convo)  %>
  </div>
</div>


<% end %>
