<div class="input-group" id="city-search">
	<div class="dropdown dropdown-lg">
		<%= form_tag("/categories", method: "get", class: "form-control") do %>
			<!-- 	If we want to search -->
			<%= select_tag(:location, options_for_select([["Austin", 1], ["Chicago", 2], ["Los Angeles", 3], ["New York", 4], ["Seattle", 5]])) %>
			<!-- 	If we want default drop down -->
			<%= fa_icon("search") %>
			<%= submit_tag("Submit") %>
		<% end %>
	</div>
<div>
