/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /*
 *= require semantic
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
html, body {
  height: 100%;
}

body{
  background-color: white;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#categories-view{
  background-color: rgba(255,255,255, 0.6);
  /*width: 1050px;*/
}

.image{
  background-position: center center;
  height: 200px;
  width: 300px;
  /*opacity: 0.85;*/
}

.image h2{
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  line-height: 150px;
}

/*
.right-align{
	text-align: right;
}*/

#edit-form{
  padding: 2em;
  max-width: 700px !important;
}

/*#Google Font*/
h1#main-header{
  font-family: 'Droid Sans', sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
  line-height: 150px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#city-search{
	/*position: fixed;*/
  /*margin:auto;*/
	margin-top: 20%;
	/*left: 50%;*/
	/*margin-left: -172px;*/
	/*margin-top: -31px;*/
}

#search-form{
  opacity: 0.85;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 342px;
/*  border: 2px solid rgb(248, 248, 248);*/
  font-size: 40px;
  background-color: rgb(248, 248, 248);
}

select#location{
  opacity: 0.85;
  padding-left: 25px;
  border: none;
}

button#search {
	opacity: 0.85;
  height: 51px;
  width: 92px;
	border-radius: 6px;
	border: none;
	/*background-color: rgb(248, 248, 248);*/
	background-color: #BABABA;
	/*border-left: 1px solid grey;*/
	padding-left: 25px;
	padding-right: 25px;
}

a:-webkit-any-link {
    text-decoration:none;
}

select {
/*    -webkit-appearance: none;
    -moz-appearance: none;*/
    text-indent: 1px;
    text-overflow: '';
}

ul.nav {
  margin-bottom: 20px;
}

.btn#review-save{
	margin-left: 16%;
}

div.user-dashboard {
	display: inline-block;
	float: left;
}

div.user-dashboard img {
	border-radius: 6%;
}

div.user-dashboard h2, h3, h4, h5, h6 {
  margin: 5px;
}

div.user-cats-profile {
	float: left;
}

div.user-cats-profile div.category-block {
	display: inline-block;
	position: relative;
	margin: 20px;
}

div.user-bio-block {
	clear: both;
	display: block;
  margin-top: 30px;
}

.your-bookings {
  display: inline-block;
  margin-right: 30px;
}


/*Semantic UI Overrides*/
.ui.menu {
  opacity: 85px;
}
#registration-form{
  padding: 2em;
  max-width: 700px !important;
}

.ui.text.container{
}

.ui.form .inline.fields .field > input, .ui.form .inline.fields .field > select, .ui.form .inline.field > input, .ui.form .inline.field > select{
		width: 100%;
}

.ui.text.container {
	max-width: 400px !important;
}

input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: #E0E1E2 none;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
  margin-top: 1em;
}

.card{
  margin-left: 1em;
  margin-right: 1em;
}

.ui.three.stackable.cards{
  margin-left: 3em;
}

.container > .main {
  margin-top: 70px;
}

