<div id="categories-view">
	<div class="ui three stackable cards">
		<% @categories.each do |category| %>
				<%= link_to(category_path(category) ) do %>
					<div class="card">
	    			<div class="image" style="background-image: url('<%=category.image%>'); 'opacity' : '86';">
							<h2><%= category.title%></h2>
						</div>
					</div>
				<% end %>
		<% end %>
	</div>
</div>








