
<!-- Each link should have the host :location as a dependency -->
	<div class="ui three stackable cards">
		<% @categories.each do |category| %>
			<div class="category-box">
				<%= link_to(category_path(category) ) do %>
					<div class="card">
	    			<div class="image">
							<div style="background-image: url('<%=category.image%>'); background-position: center center; height: 200px; width: 400px">
								<h2><%= category.title%></h2>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
</div>








