<h2><%= @category.title %> in <%= current_location %></h2>
<% if @filtered_users.blank? %>
  <%= @error %>
<% else %>
  <% @filtered_users.each do |user| %>
    <% @user = user %>
    <%= render '/users/show' %>
    <br>
  <% end %>
<% end %>

