<h2><%= @category.title %> in <%= current_location %></h2>
<% if @filtered_users.blank? %>
  <%= @error %>
<% else %>
  <% @filtered_users.each do |user| %>
    <% @user = user %>

    <!-- Raty Logic -->
    <% @reviews = @user.host_reviews("created_at DESC") %>
    <% if @reviews.empty? %>
      <% @avg_review = 0 %>
    <% else %>
      <% @avg_review = @reviews.average(:rating).round(2).to_i %>
    <% end %>

    <%= render '/users/show' %>
    <br>

  <% end %>
<% end %>

