<% @review = Review.find_by(booking_id: booking.id) %>
<% if @review != nil %>
  <div class="ui secondary segment">
    Review for: <%= @review.host.name %><br>
    <%= @review.body %>
    <br><div class="star-rating" data-score= <%= Review.find_by(booking_id: booking.id).rating %> >
    </div><br>
    <% if booking.guest == current_user %>
      <%= link_to "Edit Review", edit_review_path(id: Review.find_by(booking_id: booking.id).id)%><br>
    <% end %>
  </div>
<% end %>

<!-- Raty Script -->
<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>

